# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

    app.security.login_form_authenticator:
        class: AppBundle\Security\LoginFormAuthenticator
        arguments: ["@form.factory", "@doctrine.orm.default_entity_manager", "@router", "@security.password_encoder"]

    app.doctrine.hash_password_listener:
        class: AppBundle\Doctrine\HashPasswordListener
        arguments: ["@security.password_encoder"]
        tags:
            - { name: doctrine.event_subscriber }