<script type="text/javascript">

numProject = 1;
baseProjectUrl = '{{ path('edit_project', { 'id' : 'project_id' }) }}';
locale = '{{ app.request.locale }}';

function getProjects() {
    var url = '{{ path('json_project_page', { 'num' : 'var_number' }) }}';
    url = url.replace("var_number", numProject);
    $.ajax({
        url: url,
        success: function(result) {
            if(JSON.stringify(result) == "[]") {
                numProject = numProject - 1;
                return;
            }
            var inner = '<ul class="admin-list">';
            var title;
            var index;
            for(index = 0; index < result.length; index++) {
                if(locale == 'en') {
                    title = result[index].nameEn;
                }
                else {
                    title = result[index].name;
                }
                inner = inner + '<li><a href="' + baseProjectUrl.replace("project_id", result[index].id) + '">' + title + '</a></li>';
            }
            inner = inner + '</ul>';
            $('#projectLinks').html(inner);
        }
    });
}

$(document).ready(function() {
    getProjects(numProject);


    $('#prevProjectBtn').on('click', function() {
        if(numProject == 1) {
            return;
        }
        numProject = numProject - 1;
        getProjects();
    });

    $('#nextProjectBtn').on('click', function() {
        numProject = numProject + 1;
        getProjects();
    });
});


</script>
