<script type="text/javascript">

numArticle = 1;
baseArticleUrl = '{{ path('edit_article', { 'id' : 'article_id' }) }}';
locale = '{{ app.request.locale }}';

function getArticles() {
    var url = '{{ path('json_article_page', { 'num' : 'var_number' }) }}';
    url = url.replace("var_number", numArticle);
    $.ajax({
        url: url,
        success: function(result) {
            if(JSON.stringify(result) == "[]") {
                numArticle = numArticle - 1;
                return;
            }
            var inner = '<ul class="admin-list">';
            var title;
            var index;
            for(index = 0; index < result.length; index++) {
                if(locale == 'en') {
                    title = result[index].titleEn;
                }
                else {
                    title = result[index].title;
                }
                inner = inner + '<li><a href="' + baseArticleUrl.replace("article_id", result[index].id) + '">' + title + '</a></li>';
            }
            inner = inner + '</ul>';
            $('#articleLinks').html(inner);
        }
    });
}

$(document).ready(function() {
    getArticles(numArticle);


    $('#prevArticleBtn').on('click', function() {
        if(numArticle == 1) {
            return;
        }
        numArticle = numArticle - 1;
        getArticles();
    });

    $('#nextArticleBtn').on('click', function() {
        numArticle = numArticle + 1;
        getArticles();
    });
});


</script>
