{% extends 'base.html.twig' %}

{% block javascripts %}

    {% include 'admin/admin_article_ajax.html.twig' %}
    {% include 'admin/admin_project_ajax.html.twig' %}

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-12">

        <h2 class="text-center">Upload slike</h2>

        <p>Slike i PDF fajlove je moguce postaviti na sajt, zadati im ime i onda
            im pristupati iz aktivnosti, projekata ili stranica ubacivanjem
            teksta "#!ime-slike.jpeg!# (bez navodnika, i "jpeg" zameniti
            ekstenzijom slike koja moze biti jpeg, png, itd.) tamo gde slika
            treba da se pojavi.</p>

        <ul class="admin-list">
            <li><a href="admin/upload_image">Upload</a></li>
            <li><a href="admin/list_images">Lista slika</a></li>
        </ul>

    </div>
</div>

<hr class="short-line mt-18 mb-18"/>

<div class="row">
    <div class="col-xs-12">

        <h2 class="text-center">Stranice</h2>

        <p>Svaka stranica odgovara stranici na sajtu sa datim imenom, s tim sto
            Arhiva, Bitef i Mater-Terra pored zadatog sadrzaja sadrze i dodatne
            projekte ili aktivnosti. <br/>Napomena: Ne menjati imena stranica</p>

        <ul class="admin-list">
            {% for page in pages %}

            <li><a href="admin/pages/{{ page.id }}">{{ page.title }}</a></li>

            {% endfor %}
        </ul>

    </div>
</div>

<hr class="short-line mt-18 mb-18"/>

<div class="row">
    <div class="col-xs-12">

        <h2 class="text-center">Projekti</h2>

        <p>Projekti ce se pojavljivati na stranici "Projekti" samo ako su
            aktuelni, u suprotnom ce se pojavljivati samo u arhivi. "Description"
            je opis koji ce se pojavljivati na stranici "Projekti" i treba da
            bude kraci, a "Long description" treba da bude opsirniji opis i on
            ce se pojavljivati na stranici tog projekta.</p>

        <h3><a href="{{ path("new_project") }}">Dodaj novi</a></h3>

        <div id="projectLinks"></div>

    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <div class="center-block text-center">
            <button class="btn btn-primary" id="prevProjectBtn"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Prethodni</button>
            <button class="btn btn-primary" id="nextProjectBtn">Sledeci&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>

    </div>
</div>

<hr class="short-line mt-18 mb-18"/>

<div class="row">
    <div class="col-xs-12">

        <h2 class="text-center">Aktivnosti</h2>

        <p>Aktivnosti se mogu povezati sa projektom i/ili sa festivalom. Svaka
            aktivnost ima datum desavanja, i nece se pojavljivati na pocetnoj
            strani pre tog datuma. Potrebno je popuniti ime i sadrzaj na oba
            jezika. Slika je takodje obavezna.</p>

        <h3><a href="{{ path("new_article") }}">Dodaj novu</a></h3>

        <div id="articleLinks"></div>

    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <div class="center-block text-center">
            <button class="btn btn-primary" id="prevArticleBtn"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Prethodni</button>
            <button class="btn btn-primary" id="nextArticleBtn">Sledeci&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>

    </div>
</div>

{% endblock %}
