{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Projekti (TODO: |trans)</h1>

            {% for project in projects %}

                <p><a href="{{ path('show_project', { 'id' : project.id }) }}">{{ project|localizeProject('name') }}</a></p>

            {% endfor %}

        </div>
    </div>

{% endblock %}
